h1 {
  margin-bottom: 20px;
}

.page-container {
  max-width: 1300px;
}

.intro-container {
  margin-bottom: 20px;
}

.pokemon {
  text-align: center;
}

.pokemon img {
  width: 100%;
  height: auto;
}

.pokemon--sugimori {
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 100%; /* http://daverupert.com/2012/04/uncle-daves-ol-padded-box/ */
}

.error {
  padding: 15px;
}