*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  background-color: hsl(172, 74%, 91%);
  color: hsl(172, 74%, 10%);
}

h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

p {
  line-height: 1.45;
}

a {
  color: hsl(172, 40%, 40%);
  transition: color 0.2s ease;

  &:hover, &:focus {
    color: hsl(172, 40%, 10%);
  }
}

.small, small {
  font-size: 85%;
}

.text-muted {
  color: hsl(172, 20%, 50%);
}

.error {
  padding: 15px;
}
