@import 'base';

.page-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.intro-container {
  margin-bottom: 20px;
}

.js-initialised {
  .pokemon {
    &.js-done {
      text-decoration: none;
    }

    &:not(.js-done) {
      display: none;
    }
  }

  .pokemon-card {
    border: 5px solid rgb(255, 212, 38);
    border-radius: 18px;
    background-color: rgb(255, 156, 131);
    padding: 15px 15px 45px;
    box-shadow: rgba(black, 0.1) -3px 3px;
    transition: transform 0.2s ease;
    position: relative; // Just to make z-index work on hover

    &:hover {
      transform: scale(1.1);
      z-index: 1; // Put it in front of all other cards
    }

    &.rando-rotation--1 { transform: rotate(1deg); }
    &.rando-rotation--2 { transform: rotate(2deg); }
    &.rando-rotation--3 { transform: rotate(3deg); }
    &.rando-rotation--4 { transform: rotate(4deg); }
    &.rando-rotation--5 { transform: rotate(5deg); }
    &.rando-rotation--6 { transform: rotate(-1deg); }
    &.rando-rotation--7 { transform: rotate(-2deg); }
    &.rando-rotation--8 { transform: rotate(-3deg); }
    &.rando-rotation--9 { transform: rotate(-4deg); }
    &.rando-rotation--10 { transform: rotate(-5deg); }

    &.type--bug      { background-color: hsl( 66, 90%, 80%); }
    &.type--dark     { background-color: hsl( 24, 90%, 80%); }
    &.type--dragon   { background-color: hsl(257, 90%, 80%); }
    &.type--electric { background-color: hsl( 48, 90%, 80%); }
    &.type--fairy    { background-color: hsl(347, 90%, 80%); }
    &.type--fighting { background-color: hsl(  3, 90%, 80%); }
    &.type--fire     { background-color: hsl( 25, 90%, 80%); }
    &.type--flying   { background-color: hsl(255, 90%, 80%); }
    &.type--ghost    { background-color: hsl(263, 90%, 80%); }
    &.type--grass    { background-color: hsl(100, 90%, 80%); }
    &.type--ground   { background-color: hsl( 44, 90%, 80%); }
    &.type--ice      { background-color: hsl(180, 90%, 80%); }
    &.type--normal   { background-color: hsl( 60, 90%, 80%); }
    &.type--poison   { background-color: hsl(300, 90%, 80%); }
    &.type--psychic  { background-color: hsl(342, 90%, 80%); }
    &.type--rock     { background-color: hsl( 49, 90%, 80%); }
    &.type--steel    { background-color: hsl(240, 90%, 80%); }
    &.type--water    { background-color: hsl(222, 90%, 80%); }
  }

  .pokemon-card__thumb-container {
    border: 3px solid rgb(255, 212, 38);
    border-radius: 10px;
    overflow: hidden; // Make sure the image's square corners don't overlap this container's rounded corners
    margin-bottom: 10px;
  }

  .pokemon-card__text {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .pokemon--kc img {
    width: 100%;
    height: auto;
    display: block;
  }

  .pokemon--sugimori > div {
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 100%; /* http://daverupert.com/2012/04/uncle-daves-ol-padded-box/ */
  }

  .loading {
    background-image: url('/images/loading.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100px;
  }

  &.flexbox {
    .pokemon-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }

    .pokemon {
      flex-grow: 1;
      min-width: 50%;
      max-width: 200px;

      @media (min-width: 441px) {
        min-width: 175px;
      }
    }
  }

  &.no-flexbox {
    .pokemon {
      display: inline-block;
      vertical-align: top;
      max-width: 200px;

      @media (max-width: 440px) {
        width: 50%;
        &:nth-of-type(2n) {
          margin-bottom: 3px;
        }
      }
      @media (min-width: 441px) and (max-width: 640px) {
        width: 33.3%;
        &:nth-of-type(3n) {
          margin-bottom: 3px;
        }
      }
      @media (min-width: 641px) and (max-width: 840px) {
        width: 25%;
        &:nth-of-type(4n) {
          margin-bottom: 3px;
        }
      }
      @media (min-width: 841px) and (max-width: 1040px) {
        width: 20%;
        &:nth-of-type(5n) {
          margin-bottom: 3px;
        }
      }
      @media (min-width: 1041px) {
        width: 16.6%;
        &:nth-of-type(6n) {
          margin-bottom: 3px;
        }
      }
    }
  }
}
